@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
	--color-primary: #4da707;
	--color-secondary: #e8fdbc;
	--color-tertiary: #1e1e1e;
}

* {
	box-sizing: border-box;
	font-family: "Dosis", sans-serif;
}
body {
	background-color: #e8fdbc;
	margin: 0;
}

h1 {
	font-family: "Jersey 15", sans-serif;
}
h2 {
	font-family: "Dosis", sans-serif;
}
